body{
    background-image: url(../img/ac.jpg);
}
#A, #B, #C, #D, #E, #F, #G, #H, #I, #J, #K, #L{
    text-align: center;
    border: black solid 2px;
    margin-top: 5%;
    margin-left: 5%;  
    width: 250px;
    height: 250px;
    position: relative;
    float: left;
}
.centrar{
    margin: 30px;
    width: 190px;
    height: 190px;
    position: absolute;
    z-index: -1;
}
#A{
    background-image: url(../img/back_mantel.jpg);
    background-repeat:repeat;
}
#B>.centrar{
    background-image: url(../img/back_mantel.jpg);
    background-repeat:repeat;
    
}
#C{
    background-image: url(../img/back_mantel.jpg);
    background-size: cover;
}
#D {
    background-color: darkgrey;
}
#D>.centrar{
    background-image: url(../img/back_mantel.jpg);
    background-size: cover;
    z-index: 0;
}
#E{
    background-image: url(../img/dh.jpg);
}
#F {
    background-color: darkgrey;
}
#F>.centrar{
    background-image: url(../img/dh.jpg);
    background-size: cover;
    z-index: 0;
}
#G {
    background-color: darkgrey;
}
#G>.horizontal{
    background-image: url(../img/dh_2.jpg);
    background-size: contain;
    background-position-y: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
}
#H {
    background-color: darkgrey;
}
#H>.vertical{
    background-image: url(../img/dh_3.jpg);
    background-size: contain;
    background-position-x: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-repeat: no-repeat;
}
#I{
    background: linear-gradient(90deg, rgba(217,255,0,1) 30%, rgba(80,94,0,1) 100%);
}
#J{
    background: linear-gradient(0deg, rgba(182,145,129,1) 0%, rgba(172,51,0,1) 13%, rgba(93,28,0,1) 25%, rgba(103,31,1,1) 34%, rgba(172,55,6,1) 58%, rgba(199,170,158,1) 100%);
}
#K{
    background: linear-gradient(0deg, rgba(14,113,0,1) 0%, rgba(255,255,255,1) 100%);
}
#L{
    background: linear-gradient(0deg, rgba(14,113,0,1) 0%, rgba(255,255,255,0) 100%);
}