body{
    background-image: url(../img/pingu.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
table{
    border-style: outset;
    border-width: 2px;
    min-width: 400px;
    text-align: center;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    position: absolute;
    top: 50%;
}
th, td{
    border-style: inherit;
    border-width: 2px;
    background-color: white; 
}
td{
    background-color: khaki;
}