table{
    border-style: outset;
    border-width: 2px;
    color:rgb(85, 22, 22);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    min-width: 700px;
    background-color: #feffbe;
    background-image: radial-gradient(circle, #fe9a45 15%, transparent 10%), radial-gradient(circle, #fe9a45 15%, transparent 10%);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
}
td, th{
    border: black 1px solid;
}
thead>tr>th{
    background-color:seagreen;
}
tbody>tr>th{
    background-color:sandybrown;
}
.mida>td{
    background-color: wheat;
}