table{
    border-style: outset;
    border-width: 3px;
    border-color: gainsboro;
    border-spacing: 0;
}
th, td{
    border: solid rgb(119, 159, 233) 2px;
    margin: 0px;
}
tr{
    margin: 0px;
}
table>thead>tr>td {
    background-color: rgb(23, 75, 68);
    color: rgb(162, 212, 165);
    text-align: center;
    font-weight: bold;
}
td {
    min-width: 120px;
}
table>tbody>tr:nth-child(odd)>td{
    background-color: rgb(198, 255, 201);
}
table>tbody>tr:nth-child(even)>td{
    background-color: rgb(162, 212, 165);
}
th{
    background-color: rgb(23, 75, 68);
    color: rgb(162, 212, 165);
    text-align: center;
    font-weight: bold;
}
